PUSH_CONST 1
STORE_VAR i
PUSH_CONST 0
STORE_VAR sum
LOAD_VAR i
PUSH_CONST 5
LESS_OR_EQUAL
JUMP_IF_FALSE 17
LOAD_VAR sum
LOAD_VAR i
ADD
STORE_VAR sum
LOAD_VAR i
PUSH_CONST 1
ADD
STORE_VAR i
JUMP 4
PUSH_CONST sum=
PRINT
LOAD_VAR sum
PRINT
PRINT_LINE
